@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope";
  box-sizing: border-box;
}

:root {
  --CustomBodyBackground-color: hsl(218, 23%, 16%);
  --CustomCardBackground-Color: hsl(217, 19%, 24%);
  --customHeight: 100vh;
  --CustomBorder-Radius: 20px;
  --customWidth: 540px;
  --CustomPadding: 3rem 2rem 4.5rem 2rem;
  --customTextColorP: hsl(150, 100%, 66%);
  --CustomLetterSpacing: 0.2rem;
  --customMarginBottom: 2rem;
  --CustomTextColorH2: hsl(193, 38%, 86%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--customHeight);
  background-color: var(--CustomBodyBackground-color);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--CustomBorder-Radius);
  background-color: var(--CustomCardBackground-Color);
  width: var(--customWidth);
  padding: var(--CustomPadding);
  position: relative;
  margin: 0 auto;
}
p {
  font-size: 12px;
  color: var(--customTextColorP);
  letter-spacing: var(--CustomLetterSpacing);
  margin-bottom: var(--customMarginBottom);
  font-weight: 700;
}
h2 {
  font-size: 28px;
  color: var(--CustomTextColorH2);
  text-align: center;
  margin-bottom: var(--customMarginBottom);
}
.dice {
  width: 64px;
  height: 64px;
  background-color: hsl(150, 100%, 66%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(150, 100%, 66%);
  border-radius: 50%;
  position: absolute;
  bottom: -2rem;
  flex-direction: column;
  cursor: pointer;
}
.dice:hover {
  box-shadow: 0 0 40px 0 rgba(82, 255, 169, 1);
  transition: 0.2s ease-in;
}
.desktop_divider {
  width: 100%;
  margin-bottom: 1.2rem;
}

.mobile_divider {
  width: 100%;
  margin-bottom: 1.2rem;
}
.mobile_divider {
  display: none;
}
@media (max-width: 924px) {
  .mobile_divider {
    display: block;
  }
  .desktop_divider {
    display: none;
  }
}
@media (max-width: 620px) {
  .card {
    width: 90%;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 11px;
  }
}
